@tailwind base;
@tailwind components;

.session-labels {
  @apply text-sm text-gray-400 content-start mb-1 ml-1 mt-4;
}
.session-inputs {
  @apply input input-bordered w-full max-w-xs mb-4 flex;
}

@tailwind utilities;
