TWILIO_ACCOUNT_SID = "secret-accountSID"
TWILIO_AUTH_TOKEN = "twilio-token"
TWILIO_PHONE_NUMBER = "+123456789"


NODEMAILER_SERVICE = "mail provider"
NODEMAILER_USER = "test123@gmail.com"
NODEMAILER_PASS = "password"